.perfil {
    width: 80%;
    height: 80%;
    margin-left: 2%;
    border-radius: 50%;
    border: solid 2px gray;
   }
.datos { 
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-template-columns: 31% 69%;
}
.datos2 {
    padding-left: 10%;
    background-color: black;
    color: white;
    margin-top: 0%;
} 

.laboral { 
    margin-left: 2%;
    margin-right: 10%;
}
h1 {
    font-size: 60px;
    font-family: 'Michroma', sans-serif;
}
h2{
    font-family: 'Fugaz One', cursive;
}

h3{
    font-size: 18px;
    font-family: 'Fugaz One', cursive; 
}
.tatoo {
    margin: 3px;
    width: 300px;
    border-radius: 5%;
    border-width: 5px;
    border-color: grey;
    border-style: inset;
}



.button {
    color: rgb(240, 47, 121); 
    font-size: 20px; 
    line-height: 20px; 
    padding: 13px; 
    border-radius: 15px; 
    font-family: 'Michroma', sans-serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); 
    display: inline-block;}
    
.button:hover {
    background: #1C6EA4; }
    
.button:active {
    background: #144E75; }

